.App {
  text-align: center;
  display:flex;
  flex-direction: column;
}

.sens, .reps, .villagers {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.listItem {
  width:200px;
  border: 1px solid grey;
  margin: 10px;
  border-radius: 25px;
  padding: 10px;
  box-shadow: 1px 1px 20px -10px rgba(158,158,158,1);;
}

.listItem img {
  height: 50px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

button {
  padding: 10px;
  margin: 10px;
  width: 100px;
  background-color: white;
  border:1px solid black;
  text-decoration: none;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: black;
  color: white;
}

button:active {
  border: none;
}


